<html>

<body style="background-color:skyblue;color:white;text-align:center">

<form id="contacted-form" method="POST" action="/contact-process">
  <strong>NAME</strong>
  <input type="text" name="who" >
  <strong>DEPARTEMENT</strong>
  <input type="text" name="depart" >
<strong>EMAIL</strong>
  <input type="text" name="email" >
  <input type="submit" name="submit">


</form>
</body>

</html>
